{% extends 'accounts/_base.html' %}
{% load static %}
{% block content %}
      <!--GENERAL INFO STARTS-->
      <div class="container" id="gereral-info">
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Name: {{customer.name}}</h5>
                  <div class="d-grid gap-2">
                    <a href="{% url 'update_customer' pk=customer.id %}"><button class="btn btn-outline-warning" type="button">Update Info</button></a>
                    <button class="btn btn-outline-danger" type="button">Remove Customer</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Info</h5>
                  <p class="card-text">Email: {{customer.email}}</p>
                  <p class="card-text">Phone:{{customer.phone}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card alert alert-warning">
                  <div class="card-body">
                    <h5 class="card-title">Orders Pending</h5>
                    <p class="card-text">12 orders pening delivery.</p>        
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!--GENERAL INFO ENDS HERE-->

      <!--CUSTOMER PRODUCTS-->
      <div class="col-sm-12" id="order-table">
        <center>
            <h2>Products For The Customer</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Date Ordered</th>
                  <th>Status</th>
                  <th>Update</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                  <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.status }}</td>
                    <td><a href="#" class="btn btn-warning">Update</a></td>
                    <td><a href="#" class="btn btn-danger">Remove</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </center>
    </div>
{% endblock %}