{% extends 'accounts/_base.html' %}
{% load static %}
{% block content %}

      <!--GENERAL INFO STARTS-->

      <div class="container" id="gereral-info">
        <div class="row">
            <div class="col-sm-4">
              <div class="card alert alert-primary">
                <div class="card-body">
                  <h5 class="card-title">Total Orders</h5>
                  <p class="card-text">{{ total_order }} total orders made.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card alert alert-success">
                <div class="card-body">
                  <h5 class="card-title">Orders Delivered</h5>
                  <p class="card-text">{{ delivered }} orders delivered.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card alert alert-warning">
                  <div class="card-body">
                    <h5 class="card-title">Orders Pending</h5>
                    <p class="card-text">{{ pending }} orders pening delivery.</p>        
                  </div>
                </div>
              </div>
          </div>
      </div>
      <!--GENERAL INFO ENDS HERE-->


      <!--OVERVIEW TABLES-->

      <div class="container">
          <div class="row" id="overview">
            <div class="col-sm-5" id="customer-table">
                <center>
                    <h2>Customers</h2>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Lastname</th>
                          <th>Email</th>
                          <th>Orders</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for customer in customers %}
                            <tr>
                              <td>{{ customer.name }}</td>
                              <td>{{ customer.phone }}</td>
                              <td>{{ customer.email }}</td>
                              <td><a href="{% url 'customer' pk=customer.id %}" class="btn btn-success">View</a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </center>
            </div>
  
            <div class="col-sm-6" id="order-table">
              <center>
                  <h2>Orders</h2>
                  <a class="btn btn-primary btn-sm btn-block" href="#">Add Order</a>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Customer</th>
                        <th>Update</th>
                        <th>Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in orders %}
                        <tr>
                          <td>{{ order.product }}</td>
                          <td>{{ order.date }}</td>
                          <td>{{ order.status }}</td>
                          <td>{{ order.customer }}</td>
                          <td><a href="#" class="btn btn-warning">Update</a></td>
                          <td><a href="#" class="btn btn-danger">Remove</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </center>
          </div>
          </div>
          
      </div>

      <!--OVERVIEW TABLES END-->

      {% endblock %}
</body>
</html>