{% extends 'accounts/_base.html' %}
{% load static %}
{% block content %}
      <!--GENERAL INFO STARTS-->

      <div class="container" id="gereral-info">
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                    <form action="{% url 'update_customer' pk=customer.id %}" method="POST">
                        <div class="form-group">
                          {% csrf_token %}
                          {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update Customer</button>
                      </form>
                </div>
      </div>
{% endblock %}